---
title: API Reference

language_tabs:
  - shell
  - yaml
  # - ruby
  # - python
  # - javascript

# toc_footers:
#   - <a href='#'>Sign Up for a Developer Key</a>
#   - <a href='https://github.com/slatedocs/slate'>Documentation Powered by Slate</a>

includes:
  # - errors
  - apache_druid.md.erb
  - apache_superset.md.erb
  - apache_nifi.md.erb
  - nifi-jolt-transformation.md
  - nifi-processors.md

search: true

code_clipboard: true
---